<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="demo">Hello World</p>
    <button type="button" onclick="ChangeText()">Click </button>
    <img id="myImage" onclick="ChangeImage()" src="~/img/pic_bulbon.gif" />
</div>
